body {
    background-color: lightblue;
}
.card-header{
    background: yellowgreen"
}
.card{
    background: yellowgreen;
}
.card-1{
    background: white;
}
h3{
    background: yellowgreen
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color:white;
}
